.editormd-preview-close-btn {
    top: inherit;
    right: inherit;
    margin-left: 14px;
    margin-top: 6px;
}

#myEditormd {
    width: 80% !important;
    height: 100% !important;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 100;
    padding: 18px;
    border: 1px solid #ddd;
    border-top: none;
    border-bottom: none;
}
